.to-top {
   position: fixed;
   bottom: 30px;
   right: 14px;
   z-index: 19;
   cursor: pointer;
   z-index: 99;

   @media only screen and (min-width: 768px) {
      display: none !important;
   }

   @include breakpoint(small) {
      display: none;
   }
}
